/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_frontend

 *= require_self
 *= require_tree .
 *= require store/spree_fancy
*/

#top-nav-bar{
    width: 480px;
    height: 75px;
    padding: 0px;
}

#logo_g{
    float: left;
}

#home-link{
    float: left;
}

#shop-link{
    float: left;
}

#main-nav-bar{
    border-bottom: none !important;
}

#footer{
}

.border {
    border: 1px bisque solid;
}
