<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div  class="ten columns center">
     <h5>Contact Info</h5>

      <div class="phone">
        <a href="callto:012341234567">599-318-2835</a>
        </div>
      <div class="email">
        <a href="mailto:store@dugginsnv.com">store@dugginsnv.com</a>
      </div>
      <div class="address">
        De Windtweg # 5
        St. Eustatius, Dutch Caribbean
      </div>
    </div>
    
  </div>
</footer>