<header id="header" class="row" data-hook>
 <div id="logo"><%= logo %> </div>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>