<% content_for :subheader do %>
  <%= render 'slider' %>
<% end %>

<div id="welcome-message">
  <div class="container">
    <h1>
      Welcome to Duggins Shopping Center
      </br>
       <%= image_tag("shop.jpg", :width => 800, :height => 500, :class => "border") %>
    </h1>
  </div>
</div>

